@media only screen and (min-width: 768px) {
  html,
  button,
  input,
  select,
  textarea {
    font-family: 'Reddit Sans', arial, sans-serif;
    font-weight: 300;
    font-style: normal;
  }
}

body {
  font-weight: 300;
  font-size: 14px;
  font-family: 'Reddit Sans', arial, sans-serif;
  font-style: normal;
}

a,
a:hover {
  color: #9a3324;
  text-decoration: none;
  /* CMU Red: #bb00000 */
  /* Michigan Maize: #FFCB05 */
  /* Michigan Blue: #00274C */
  /* Michigan Tappan Red: #9A3324 */
}

p {
  margin: 0 0 1em;
  font-size: 18px;
}

h1 {
  font-size: x-large;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 5px;
}

/* bootstrap properties */
#topbar {
  background-color: #00274c;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  border-color: #777777;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 3%;
}

#topbar .navbar-brand {
  color: #ffcb05;
  font-size: 2.3em;
  /*font-family: 'Open Sans',Helvetica,sans-serif;*/
  font-weight: 500;
  /*text-transform: uppercase;*/
}

#topbar .navbar-brand p {
  display: inline;
  font-family: "Kai Ti";
}

#topbar .navbar-brand a {
  color: #ffcb05;
  font-weight: 600;
  text-decoration: none;
}

#topbar .navbar-brand a:hover {
  color: #cfc096;
  text-decoration: none;
}

.navbar-brand,
.navbar-nav li a {
  line-height: 1.5em;
  height: 1.5em;
  padding-top: 0;
}

.label {
  font-weight: normal;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 20;
}

.label-award {
  background-color: #9a3324;
  margin-right: 5px;
  color: white;
  border-radius: 20;
}

.paperimage {
  width: 100%;
  overflow: hidden;
}

.papers .paper-row {
  margin-bottom: 2em;
  vertical-align: top;
  padding-left: 0px;
  font-size: 16px;
}

.vital-info {
  margin-top: 1em;
  font-size: 16px;
}

.vital-info h4 {
  margin-bottom: 5px;
}

.vital-info h5 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
}

.olddate,
.olddate a {
  color: #aaaaaa;
}

.bio {
  margin-top: 10px;
}

.btn-link {
  padding: 2em 0px 2em 0px;
  color: #bb0000;
}

.attribution {
  font-size: smaller;
  color: black;
}

.attribution a {
  color: black;
}

.peopleicon {
  height: 2.2em;
  width: 2.2em;
  margin: -6px 4px 10px 4px;
  object-fit: cover;
  /*filter: grayscale(70%);*/
}

.people div:last-child {
  margin-bottom: -12px;
}

.newsItem {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}
